footer {
  padding: 30px 0;
  background: #f8f7fb;
  color: #1b1b1b; }
  footer h3 {
    margin: 33px 0 28px 0;
    color: #1b1b1b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
    @media (max-width: 992px) {
      footer h3 {
        font-size: 14px;
        margin: 0;
        padding: 6px 0;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease; } }
  footer .logo-footer {
    font-family: "Calligraffitti_Regular";
    font-size: 55px;
    font-style: italic;
    line-height: 55px;
    color: #894545;
    text-decoration: none;
    cursor: pointer; }
  footer .footer-list {
    margin: 0;
    padding-left: 0; }
    footer .footer-list li {
      padding: 3px 0;
      display: flex;
      margin-bottom: 10px;
      align-items: center; }
      footer .footer-list li a {
        color: #1b1b1b;
        font-size: 14px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        footer .footer-list li a:hover {
          color: #b8bcff;
          padding-left: 3px;
          text-decoration: none; }
      footer .footer-list li i {
        margin-right: 5px;
        font-size: 20px; }
      footer .footer-list li p {
        margin: 0px; }
  footer .newsletter-wrapper .newsletter-title {
    margin-bottom: 15px; }
  footer .newsletter-form-wrapper .input-group {
    position: relative;
    width: 100%;
    display: table;
    border-collapse: separate; }
    footer .newsletter-form-wrapper .input-group input {
      border: 1px solid #e5e5e5;
      border-radius: 20px;
      outline: 0 !important;
      height: 40px;
      line-height: 40px;
      padding: 0 95px 0 15px;
      width: 100%;
      border-right: none; }
    footer .newsletter-form-wrapper .input-group .input-group-btn {
      position: relative;
      white-space: nowrap;
      width: 1%;
      padding: 0;
      display: table-cell;
      vertical-align: middle;
      margin: 0; }
    footer .newsletter-form-wrapper .input-group button {
      background: linear-gradient(to right, #9ea3ff, #ffb0f8) border-box;
      border-left: none;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 0;
      border-top-right-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
      outline: 0 !important;
      padding: 0 15px;
      position: absolute;
      top: 0;
      right: 0; }
  footer .social-wrapper {
    margin-top: 15px; }
  footer .menu-footer h3 {
    position: relative; }
    @media (max-width: 992px) {
      footer .menu-footer h3::after {
        content: "\f067";
        font-family: "FontAwesome";
        font-size: 12px;
        color: #585858a1;
        position: absolute;
        right: 0;
        top: 0; }
      footer .menu-footer h3.open::after {
        content: "\f068"; }
      footer .menu-footer h3.open + .footer-list {
        opacity: 1;
        overflow: visible; }
      footer .menu-footer h3.open + .newsletter-wrapper {
        opacity: 1;
        overflow: visible; } }
  @media (max-width: 992px) {
    footer .menu-footer .footer-list {
      opacity: 0;
      display: none;
      overflow: hidden;
      -webkit-transition: opacity 0.2s linear;
      -moz-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear; } }
  @media (max-width: 992px) {
    footer .menu-footer .footer-list:hover {
      opacity: 1;
      display: block;
      overflow: auto;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      transition: all 1s ease; } }
  @media (max-width: 992px) {
    footer .menu-footer .newsletter-wrapper {
      opacity: 0;
      display: none;
      overflow: hidden; } }
  @media (max-width: 992px) {
    footer .menu-footer .newsletter-wrapper:hover {
      opacity: 1;
      display: block;
      overflow: auto;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      transition: all 1s ease; } }
  footer .menu-footer.open .footer-list {
    opacity: 1;
    display: block;
    overflow: visible; }
  footer .menu-footer-one {
    position: relative; }
    @media (max-width: 992px) {
      footer .menu-footer-one .logo-footer {
        font-size: 45px;
        float: left;
        width: 30%;
        line-height: 75px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        transition: all 1s ease; } }
    @media (max-width: 768px) {
      footer .menu-footer-one .logo-footer {
        font-size: 55px;
        width: 100%;
        text-align: center;
        line-height: 100px;
        float: none;
        display: inline-block; } }
    @media (max-width: 992px) {
      footer .menu-footer-one .footer-list {
        float: left; } }
    @media (max-width: 768px) {
      footer .menu-footer-one .footer-list {
        width: 100%;
        text-align: center;
        float: none;
        display: inline-block; } }
    footer .menu-footer-one .footer-list .group-btn-sub {
      text-align: center;
      display: table;
      width: 100%; }
      footer .menu-footer-one .footer-list .group-btn-sub a {
        display: table-cell; }

.footer-info {
  padding: 15px 0px;
  background-color: #ececf6;
  font-size: 12px; }
  .footer-info span {
    margin: 0 10px; }
  .footer-info a {
    color: #333333; }
  .footer-info .footer-bottom-contact {
    text-align: left; }
    @media (max-width: 992px) {
      .footer-info .footer-bottom-contact {
        text-align: center; } }
  .footer-info .footer-bottom-account {
    text-align: right; }
    @media (max-width: 992px) {
      .footer-info .footer-bottom-account {
        text-align: center; } }
    .footer-info .footer-bottom-account a {
      display: inline-block;
      padding: 0px 10px; }
    .footer-info .footer-bottom-account span {
      color: #1b1b1b; }
