.main.homepage {
  padding-bottom: 0;
  overflow: hidden; }
  @media (max-width: 992px) {
    .main.homepage {
      overflow-x: hidden; } }
  .main.homepage .home-section-title {
    margin-bottom: 30px; }
    .main.homepage .home-section-title .title-type {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 15px;
      text-align: center;
      font-family: UTMLinotypeZapfinoKT;
      color: #333; }
    .main.homepage .home-section-title h2 {
      margin-bottom: 0px;
      font-size: 2em;
      color: #333;
      text-align: center;
      line-height: normal;
      font-weight: normal; }
    .main.homepage .home-section-title .line-bottom-title {
      text-align: center; }
      .main.homepage .home-section-title .line-bottom-title .line-left, .main.homepage .home-section-title .line-bottom-title .line-right {
        width: 110px;
        border: 1px solid #e5e5e5;
        display: inline-block;
        margin: 5px 0; }

.home-brands {
  padding: 50px 0px; }
  .home-brands .home-section-title .descript-body {
    width: 60%;
    margin: 20px auto 0px;
    color: #666666;
    font-size: 14px; }
  .home-brands .home-brand-slider .owl-carousel .owl-item .item .item-image {
    margin: 0 14px;
    line-height: 45px;
    text-align: center;
    position: relative;
    border: 8px solid transparent;
    border-radius: 50px;
    background: #fff;
    background-clip: padding-box;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .home-brands .home-brand-slider .owl-carousel .owl-item .item .item-image:hover {
      background: -webkit-gradient(linear, left top, right top, from(#dbddff), to(#fee4fc));
      background: -webkit-linear-gradient(left, #dbddff, #fee4fc);
      background: -o-linear-gradient(left, #dbddff, #fee4fc);
      background: linear-gradient(to right, #dbddff, #fee4fc);
      cursor: pointer;
      position: sticky; }
    .home-brands .home-brand-slider .owl-carousel .owl-item .item .item-image:after {
      position: absolute;
      top: -8px;
      bottom: -8px;
      left: -8px;
      right: -8px;
      background: -webkit-gradient(linear, left top, right top, from(#dbddff), to(#fee4fc));
      background: -webkit-linear-gradient(left, #dbddff, #fee4fc);
      background: -o-linear-gradient(left, #dbddff, #fee4fc);
      background: linear-gradient(to right, #dbddff, #fee4fc);
      content: '';
      z-index: -1;
      border-radius: 50px; }

.home-featured-products {
  padding: 50px 0px;
  background: #f8f7fb; }
  .home-featured-products .owl-carousel .owl-item {
    padding: 15px; }
  .home-featured-products .owl-carousel .owl-controls .owl-buttons .owl-prev, .home-featured-products .owl-carousel .owl-controls .owl-buttons .owl-next {
    position: absolute;
    top: calc(50% - 30px);
    color: #9ea3ff;
    font-size: 60px;
    line-height: 60px;
    padding: 0px;
    margin: 0px;
    background: none; }
  .home-featured-products .owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: 30px; }
  .home-featured-products .owl-carousel .owl-controls .owl-buttons .owl-next {
    right: 30px; }
  .home-featured-products .home-discount {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
    padding: 10px 0px;
    margin-top: -10px;
    margin-bottom: 30px;
    border-radius: 8px;
    background: linear-gradient(to right, #dbddff, #fee4fc); }
    @media (max-width: 992px) {
      .home-featured-products .home-discount {
        width: 40%; } }
    @media (max-width: 768px) {
      .home-featured-products .home-discount {
        width: 60%; } }
    @media (max-width: 576px) {
      .home-featured-products .home-discount {
        width: 80%; } }
    .home-featured-products .home-discount .remain-times {
      display: block;
      margin-top: 5px;
      font-size: 14px;
      color: #333; }
    .home-featured-products .home-discount .countdown-days {
      margin: 0px 10px;
      position: relative; }
      .home-featured-products .home-discount .countdown-days .days {
        font-size: 24px;
        color: #333; }
      .home-featured-products .home-discount .countdown-days:after {
        position: absolute;
        right: -10px;
        content: ':';
        top: 0px; }
    .home-featured-products .home-discount .countdown-hrs {
      margin: 0px 10px;
      position: relative; }
      .home-featured-products .home-discount .countdown-hrs .hrs {
        font-size: 24px;
        color: #333; }
      .home-featured-products .home-discount .countdown-hrs:after {
        position: absolute;
        right: -10px;
        content: ':';
        top: 0px; }
    .home-featured-products .home-discount .countdown-mins {
      margin: 0px 10px;
      position: relative; }
      .home-featured-products .home-discount .countdown-mins .mins {
        font-size: 24px;
        color: #333; }
      .home-featured-products .home-discount .countdown-mins:after {
        position: absolute;
        right: -10px;
        content: ':';
        top: 0px; }
    .home-featured-products .home-discount .countdown-secs {
      margin: 0px 10px;
      position: relative; }
      .home-featured-products .home-discount .countdown-secs .secs {
        font-size: 24px;
        color: #333; }

.home-collection-banners {
  padding-bottom: 30px; }
  .home-collection-banners .col-banner-img {
    margin-top: 30px;
    position: relative; }
    .home-collection-banners .col-banner-img a.item {
      display: block;
      overflow: hidden; }
      .home-collection-banners .col-banner-img a.item img {
        width: 100%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .home-collection-banners .col-banner-img a.item .hover-banner {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(to right, #9ea3ff, #ffb0f8);
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .home-collection-banners .col-banner-img a.item .view-col {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 2;
        max-width: 90%;
        text-align: center;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        @media (max-width: 992px) {
          .home-collection-banners .col-banner-img a.item .view-col {
            opacity: 1; } }
        .home-collection-banners .col-banner-img a.item .view-col .title-hover-col h3 {
          color: #333333;
          margin-bottom: 25px;
          line-height: normal;
          font-weight: normal;
          outline: 0; }
        .home-collection-banners .col-banner-img a.item .view-col .btn-view-col {
          padding: 10px 32px;
          border: 2px solid;
          border-radius: 30px;
          line-height: normal;
          font-weight: normal;
          background: transparent;
          outline: 0;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .home-collection-banners .col-banner-img a.item .view-col .btn-view-col:hover {
            background: linear-gradient(to right, #9ea3ff, #ffb0f8) border-box;
            color: #fff;
            border-color: transparent; }
      .home-collection-banners .col-banner-img a.item.item-large {
        max-height: 750px;
        height: 100%; }
      .home-collection-banners .col-banner-img a.item.item-thumb {
        max-height: 360px;
        height: 100%; }
    @media (min-width: 992px) {
      .home-collection-banners .col-banner-img:hover a.item img {
        transform: scale(1.05); }
      .home-collection-banners .col-banner-img:hover a.item .hover-banner {
        opacity: 0.7; }
      .home-collection-banners .col-banner-img:hover a.item .view-col {
        opacity: 1; } }

.home-collection-product {
  padding: 50px 0px;
  background: #f8f7fb; }
  .home-collection-product .section-tab .tab {
    margin-bottom: 50px; }
    .home-collection-product .section-tab .tab .tablinks {
      padding: 10px 30px;
      border: 1px solid transparent;
      border-radius: 30px;
      font-size: 16px;
      line-height: normal;
      font-weight: normal;
      background: none;
      outline: 0;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .home-collection-product .section-tab .tab .tablinks.active, .home-collection-product .section-tab .tab .tablinks:hover {
        color: #9ea3ff;
        border-color: #9ea3ff; }
      .home-collection-product .section-tab .tab .tablinks:focus {
        color: #9ea3ff;
        border-color: #9ea3ff; }

.home-news {
  padding: 50px 0px; }

.home-policy {
  padding: 32px;
  background: linear-gradient(to right, rgba(158, 163, 255, 0.7), rgba(255, 176, 248, 0.5)) border-box; }
  @media (max-width: 992px) {
    .home-policy .item {
      margin-bottom: 30px; }
      .home-policy .item:last-child {
        margin-bottom: 0px; } }
  .home-policy .item .policy-item .icon-policy {
    width: 20%;
    box-sizing: border-box;
    float: left;
    min-height: 1px; }
    .home-policy .item .policy-item .icon-policy .icon {
      height: 40px;
      width: 40px;
      font-size: 20px;
      border-radius: 50%;
      background: #ffb0f8;
      color: #fff;
      text-align: center;
      line-height: 36px;
      margin: auto; }
      .home-policy .item .policy-item .icon-policy .icon img {
        width: 20px; }
  .home-policy .item .policy-item .content-policy {
    width: 80%;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    color: #333; }
    .home-policy .item .policy-item .content-policy .title-police {
      text-transform: uppercase; }
    .home-policy .item .policy-item .content-policy .descript-police {
      font-size: 86%; }
