.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99991;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease; }
  .overlay.visible {
    opacity: 1;
    visibility: visible; }
