.header {
  z-index: 9999;
  box-shadow: 0px 0px 4.9px 0.1px rgba(4, 5, 5, 0.15);
  position: relative; }
  @media (max-width: 992px) {
    .header {
      z-index: auto; } }
  .header .header-top {
    background-image: -webkit-gradient(linear, left top, right top, from(#b8bcff), to(#fcc9f9));
    background-image: -webkit-linear-gradient(left, #b8bcff, #fcc9f9);
    background-image: -o-linear-gradient(left, #b8bcff, #fcc9f9);
    background-image: linear-gradient(to right, #b8bcff, #fcc9f9);
    padding: 10px 0px; }
    .header .header-top .header-top-contact {
      text-align: left; }
      @media (max-width: 992px) {
        .header .header-top .header-top-contact {
          text-align: center; } }
    .header .header-top .header-top-account {
      text-align: right; }
      @media (max-width: 992px) {
        .header .header-top .header-top-account {
          text-align: center; } }
    .header .header-top a {
      display: inline-block;
      color: #ffffff;
      padding: 0px 10px;
      line-height: 14px; }
      .header .header-top a:hover {
        color: #9ea3ff;
        text-decoration: none; }
      .header .header-top a:first-child {
        padding-left: 0px; }
      .header .header-top a :last-child {
        border-right: 0px; }
    .header .header-top ul {
      margin: 0px; }
      .header .header-top ul li {
        display: inline-block;
        margin-bottom: 0; }
        .header .header-top ul li:last-child a {
          padding-right: 0px;
          border-right: 0px; }

.header-center {
  background-color: #ffffff;
  height: 85px; }
  @media (max-width: 992px) {
    .header-center {
      position: relative; } }
  .header-center .logo {
    text-align: left; }
    @media (max-width: 992px) {
      .header-center .logo {
        text-align: center; } }
    .header-center .logo a {
      font-family: "Calligraffitti_Regular";
      font-size: 38px;
      font-style: italic;
      line-height: 85px;
      color: #894545;
      text-decoration: none;
      cursor: pointer; }
      @media (min-width: 992px) {
        .header-center .logo a {
          font-size: 30px;
          webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          transition: all 1s ease; } }
      @media (min-width: 1200px) {
        .header-center .logo a {
          font-size: 38px;
          webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          transition: all 1s ease; } }
  .header-center .btn-menu-mobile {
    display: none;
    opacity: 0;
    overflow: hidden; }
    @media (max-width: 992px) {
      .header-center .btn-menu-mobile {
        display: block;
        opacity: 1;
        font-size: 25px;
        color: #474747ba;
        overflow: auto;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        line-height: 50px; }
        .header-center .btn-menu-mobile .navbar-toggler-icon {
          height: auto; } }
  @media (max-width: 992px) {
    .header-center .menu-top {
      display: none;
      overflow: hidden;
      visibility: hidden; } }
  .header-center .menu-top nav {
    padding: 0; }
    .header-center .menu-top nav .navbar-nav {
      display: inline-block;
      margin-right: 0 !important; }
      .header-center .menu-top nav .navbar-nav .menu-item {
        float: left; }
        .header-center .menu-top nav .navbar-nav .menu-item a {
          font-size: 14px;
          font-weight: bold;
          display: block;
          padding: 32px 20px;
          color: #1b1b1b;
          text-decoration: none;
          background: transparent;
          text-transform: uppercase;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          @media (min-width: 992px) {
            .header-center .menu-top nav .navbar-nav .menu-item a {
              font-size: 12px;
              padding: 32px 15px;
              webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              transition: all 1s ease; } }
          @media (min-width: 1200px) {
            .header-center .menu-top nav .navbar-nav .menu-item a {
              font-size: 14px;
              padding: 32px 25px;
              webkit-transition: all 1s ease;
              -moz-transition: all 1s ease;
              transition: all 1s ease; } }
          .header-center .menu-top nav .navbar-nav .menu-item a:hover {
            color: #9ea3ff; }
        .header-center .menu-top nav .navbar-nav .menu-item > ul {
          position: absolute;
          color: #1b1b1b;
          margin: 0px;
          z-index: 10;
          text-align: left;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          padding: 15px;
          border-top: 3px solid #9ea3ff;
          transform: perspective(600px) rotateX(-90deg);
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          background: url("../images/bg_mega_img.png") no-repeat;
          background-size: cover;
          -webkit-transition: all 0.6s ease;
          -moz-transition: all 0.6s ease;
          transition: all 0.6s ease; }
          .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu-menu {
            right: 0px;
            left: 0px;
            min-width: 900px;
            margin: 0px -10px; }
            @media (min-width: 992px) {
              .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu-menu {
                min-width: auto; } }
            .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu-menu li {
              float: left;
              display: inline-block;
              width: calc(100% / 5);
              padding: 0px 10px; }
              .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu-menu li a {
                padding: 0; }
              .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu-menu li ul {
                padding-left: 0; }
                .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu-menu li ul li {
                  float: none;
                  width: 100%;
                  text-align: left; }
                  .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu-menu li ul li a {
                    font-size: 12px;
                    text-align: left;
                    display: block;
                    line-height: 20px;
                    padding: 0;
                    color: #1b1b1b;
                    text-decoration: none;
                    background: transparent;
                    text-transform: none;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    font-weight: normal; }
                    .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu-menu li ul li a:hover {
                      color: #b8bcff;
                      padding-left: 3px;
                      text-decoration: none; }
          .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu {
            width: 250px; }
            .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu li {
              position: relative; }
              .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu li a {
                padding: 0;
                margin-bottom: 10px; }
              .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu li > ul {
                position: absolute;
                right: -215px;
                top: 0px;
                width: 200px;
                padding: 15px;
                background: url("../images/bg_mega_img.png") no-repeat;
                background-size: cover;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
                transform: perspective(600px) rotateX(-90deg);
                -webkit-transform-origin: 0% 0%;
                -moz-transform-origin: 0% 0%;
                -ms-transform-origin: 0% 0%;
                -o-transform-origin: 0% 0%;
                transform-origin: 0% 0%; }
              .header-center .menu-top nav .navbar-nav .menu-item > ul.megamenu li:hover > ul {
                transform: perspective(600px) rotateX(0deg);
                z-index: 9999; }
        .header-center .menu-top nav .navbar-nav .menu-item:hover > ul {
          transform: perspective(600px) rotateX(0deg); }

body {
  position: relative; }
  body .menu-mobile {
    -webkit-transform: translateZ(0);
    will-change: transform;
    display: none;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    top: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, rgba(184, 188, 255, 0.85), rgba(252, 201, 249, 0.85));
    padding: 0px;
    z-index: 10;
    left: -300px;
    border-left: 1px solid #e9e9e9;
    transition: all 1.5s cubic-bezier(0.46, 0.01, 0.32, 1); }
    body .menu-mobile .btn-close-menu {
      position: relative; }
      body .menu-mobile .btn-close-menu button {
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        box-shadow: none;
        border: 0;
        color: #8b8888;
        width: 30px;
        height: 30px;
        padding: 0; }
    body .menu-mobile .logo-mobile {
      margin-top: 30px;
      text-align: center; }
      body .menu-mobile .logo-mobile a {
        font-family: "Calligraffitti_Regular";
        font-size: 40px;
        font-style: italic;
        line-height: 85px;
        color: #894545;
        text-decoration: none;
        cursor: pointer; }
    body .menu-mobile .mobile-nav-search {
      margin-bottom: 30px; }
      body .menu-mobile .mobile-nav-search .search-bar {
        display: table; }
        body .menu-mobile .mobile-nav-search .search-bar input {
          box-shadow: none;
          border-radius: 30px 0 0 30px;
          padding: 0 15px;
          height: 34px;
          line-height: 34px;
          border: 0px;
          outline: 0px;
          width: 100%;
          background: #fff;
          display: table-cell;
          vertical-align: middle;
          margin: 0; }
        body .menu-mobile .mobile-nav-search .search-bar .input-group-btn {
          position: relative;
          white-space: nowrap;
          width: 1%;
          padding: 0;
          display: table-cell;
          vertical-align: middle;
          margin: 0; }
          body .menu-mobile .mobile-nav-search .search-bar .input-group-btn button {
            height: 34px;
            width: 34px;
            line-height: 34px;
            padding: 0px;
            border-radius: 0px 30px 30px 0;
            border: 0px;
            outline: 0px;
            background: #fff;
            color: #9ea3ff; }
    body .menu-mobile .menu-item {
      display: block;
      padding: 10px 0;
      background: rgba(184, 188, 255, 0);
      border-left: 3px solid transparent;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      position: relative; }
      body .menu-mobile .menu-item a {
        outline: 0;
        color: #ffffff; }
        body .menu-mobile .menu-item a:hover {
          border: 0;
          outline: 0;
          text-decoration: none; }
        body .menu-mobile .menu-item a:focus {
          border: 0;
          outline: 0;
          text-decoration: none; }
      body .menu-mobile .menu-item .megamenu-menu {
        display: none;
        margin: 0;
        visibility: hidden;
        overflow: hidden;
        transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; }
        body .menu-mobile .menu-item .megamenu-menu .has-sub-sub .megamenu-menu-sub a::after {
          content: ""; }
      body .menu-mobile .menu-item.megamenu.has-sub a::after {
        content: "\f067";
        font-family: FontAwesome;
        position: absolute;
        right: 0;
        color: #777777;
        font-size: 12px;
        vertical-align: middle;
        text-align: center;
        padding-top: 5px; }
      body .menu-mobile .menu-item.megamenu.has-sub a.open::after {
        content: "\f068";
        font-family: FontAwesome;
        position: absolute;
        right: 0;
        color: #777777;
        font-size: 12px;
        vertical-align: middle;
        text-align: center;
        padding-top: 5px; }
      body .menu-mobile .menu-item.megamenu.has-sub a.open + .megamenu-menu {
        display: block;
        padding-left: 10px;
        visibility: visible;
        transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95); }
        body .menu-mobile .menu-item.megamenu.has-sub a.open + .megamenu-menu .menu-item {
          padding: 5px 0; }
          body .menu-mobile .menu-item.megamenu.has-sub a.open + .megamenu-menu .menu-item.has-sub-sub .megamenu-menu-sub {
            display: none;
            padding-left: 10px;
            margin: 0;
            visibility: hidden;
            overflow: hidden;
            transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
            body .menu-mobile .menu-item.megamenu.has-sub a.open + .megamenu-menu .menu-item.has-sub-sub .megamenu-menu-sub .menu-item a::after {
              content: ""; }
          body .menu-mobile .menu-item.megamenu.has-sub a.open + .megamenu-menu .menu-item.has-sub-sub a::after {
            content: "\f067";
            font-family: FontAwesome;
            position: absolute;
            right: 0;
            color: #777777;
            font-size: 12px;
            vertical-align: middle;
            text-align: center;
            padding-top: 5px; }
          body .menu-mobile .menu-item.megamenu.has-sub a.open + .megamenu-menu .menu-item.has-sub-sub a.open::after {
            content: "\f068";
            font-family: FontAwesome;
            position: absolute;
            right: 0;
            color: #777777;
            font-size: 12px;
            vertical-align: middle;
            text-align: center;
            padding-top: 5px; }
          body .menu-mobile .menu-item.megamenu.has-sub a.open + .megamenu-menu .menu-item.has-sub-sub a.open + .megamenu-menu-sub {
            display: block;
            padding-left: 10px;
            visibility: visible;
            transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95); }
            body .menu-mobile .menu-item.megamenu.has-sub a.open + .megamenu-menu .menu-item.has-sub-sub a.open + .megamenu-menu-sub a::after {
              content: ''; }
  body.sidebar-open .app-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body.sidebar-open .header-center .menu-mobile {
    display: block;
    z-index: 9999;
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px); }
  body.sidebar-open .header-center .menu-top {
    display: none; }
    body.sidebar-open .header-center .menu-top nav .navbar-nav {
      width: 100%; }
      body.sidebar-open .header-center .menu-top nav .navbar-nav .menu-item {
        float: none; }
        body.sidebar-open .header-center .menu-top nav .navbar-nav .menu-item a {
          padding: 6px 20px; }
        body.sidebar-open .header-center .menu-top nav .navbar-nav .menu-item:hover ul {
          position: static;
          background: none;
          border: 0;
          box-shadow: none; }
          body.sidebar-open .header-center .menu-top nav .navbar-nav .menu-item:hover ul.megamenu-menu li {
            float: none;
            width: 100%; }
          body.sidebar-open .header-center .menu-top nav .navbar-nav .menu-item:hover ul .megamenu li {
            float: none;
            width: 100%; }
